{{! ADD COMMON TAGS HERE FOR SIDEBAR }}
{{! REMOVE THE DEFAULT TAGS BELOW IF NOT USED }}
{{! COPY AN EXAMPLE TAG AND REPLACE THE TAG WORD IN THE /tag/ and > < SECTIONS }}
{{! REPLACE SPACES IN TAGS WITH '%20' IN THE URL eg. 'Frontend%20Development' }}

<ul class="tags_list">
	{{! <li><a href="/tag/taghere">taghere</a></li> }}
	<li><a href="{{@blog.url}}/tag/frontend">Frontend</a></li>
	<li><a href="{{@blog.url}}/tag/development">Development</a></li>
	<li><a href="{{@blog.url}}/tag/sass">SASS</a></li>
	<li><a href="{{@blog.url}}/tag/grunt">Grunt</a></li>
	<li><a href="{{@blog.url}}/tag/javascript">JavaScript</a></li>
	<li><a href="{{@blog.url}}/tag/server">Server</a></li>
	<li><a href="{{@blog.url}}/tag/software">Software</a></li>
	<li><a href="{{@blog.url}}/tag/ghost">Ghost</a></li>
	<li><a href="{{@blog.url}}/tag/html%20css">HTML CSS</a></li>
	<li><a href="{{@blog.url}}/tag/lifecycle">Lifecycle</a></li>
	<li><a href="{{@blog.url}}/tag/project">Project</a></li>
</ul>