{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

<div class="container">

    {{> sidebar_default}}

    <div class="content">
        <div class="notification">
            <div class="left"><i class="fa fa-tags"></i>TAG: <span>{{tag.name}}</span></div>
            <div class="right"><a href="{{@blog.url}}"><i class="fa fa-times"></i></a></div>
        </div>
        <div class="widget info_widget">
            {{#if @blog.logo}}
            <a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
            {{/if}}
            <p>{{@blog.description}}</p>
        </div>
        <div class="inlinemenu">
            <div class="graybar">
                <div class="left"><i class="fa fa-bars"></i>Navigation</div>
                <div class="right"><i class="fa fa-chevron-down"></i></div>
            </div>
            {{> navigation}}
        </div>
        <div class="postlist">
            
            {{#foreach posts}}
                
                {{#has tag="feature"}}
                <article class="post feature">
                    <a href="{{url}}" class="largeimage postfeature">
                        <div class="shadow"></div>
                        <h1>{{{title}}}</h1>
                    </a>
                    <div class="info">
                        <div class="left">
                            <a href="{{url}}" class="author"><img src="{{author.image}}" alt="author" class="minigravatar">{{author.name}}</a>
                        </div>
                        <div class="right">
                            <a href="{{url}}" class="date"><i class="fa fa-clock-o"></i>{{date format="MMMM Do, YYYY"}}</a>
                           <span class="tags"><i class="fa fa-tags"></i>
                                {{#foreach tags}}
                                    <a href="{{url}}">{{name}}</a>
                                {{/foreach}}
                            </span>
                        </div>
                    </div>
                    <div class="postcontents index">
                        {{content words="120"}}
                    </div>
                    <div class="footer">
                        <a href="{{url}}" class="largesolid orange left">Read More</a>
                    </div>
                </article>
                {{/has}}

                {{#has tag="banner"}}
                <article class="post banner">
                    <a class="basicfeature postfeature" href="{{url}}"></a>
                    <h1><a href="{{url}}">{{{title}}}</a></h1>
                    <div class="info">
                        <div class="left">
                            <a href="{{url}}" class="author"><img src="{{author.image}}" alt="author" class="minigravatar">{{author.name}}</a>
                        </div>
                        <div class="right">
                            <a href="{{url}}" class="date"><i class="fa fa-clock-o"></i>{{date format="MMMM Do, YYYY"}}</a>
                           <span class="tags"><i class="fa fa-tags"></i>
                                {{#foreach tags}}
                                    <a href="{{url}}">{{name}}</a>
                                {{/foreach}}
                            </span>
                        </div>
                    </div>
                    <div class="postcontents index">
                        {{content words="140"}}
                    </div>
                    <div class="footer">
                        <a href="{{url}}" class="largesolid orange left">Read More</a>
                    </div>
                </article>
                {{/has}}

                {{^has tag="feature, banner"}}
                <article class="post standard">
                    <h1><a href="{{url}}">{{{title}}}</a></h1>
                    <div class="info">
                        <div class="left">
                            <a href="{{url}}" class="author"><img src="{{author.image}}" alt="author" class="minigravatar">{{author.name}}</a>
                        </div>
                        <div class="right">
                            <a href="{{url}}" class="date"><i class="fa fa-clock-o"></i>{{date format="MMMM Do, YYYY"}}</a>
                           <span class="tags"><i class="fa fa-tags"></i>
                                {{#foreach tags}}
                                    <a href="{{url}}">{{name}}</a>
                                {{/foreach}}
                            </span>
                        </div>
                    </div>
                    <div class="postcontents index">
                        <p>{{excerpt words="76"}}&hellip;</p>
                    </div>
                    <div class="footer">
                        <a href="{{url}}" class="largesolid orange left">Read More</a>
                    </div>
                </article>
                {{/has}}

            {{/foreach}}

            {{pagination}}

        </div>
    </div>

</div>
